<robot
  name="table_asm_new">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.18488588798473E-17 0.0599999999999999 -1.16353639732293E-16"
        rpy="0 0 0" />
      <mass
        value="131.821027710396" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://table_asm_new/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.898039215686275 0.898039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://table_asm_new/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Leg_1">
    <inertial>
      <origin
        xyz="-0.40159 -0.35134 -0.36853"
        rpy="0 0 0" />
      <mass
        value="46.912" />
      <inertia
        ixx="4.9197"
        ixy="0.00010029"
        ixz="0.0016265"
        iyy="6.0432"
        iyz="0.0011454"
        izz="10.22" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://table_asm_new/meshes/Leg_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.78039 0.76078 0.74118 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://table_asm_new/meshes/Leg_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Leg1_Surface_Joint"
    type="fixed">
    <origin
      xyz="-0.35 0.12 0.4"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="Leg_1" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot> 
